# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# README for raw data to include
!data-raw/README.md

# Raw data to include
# Raw data folder
!data-raw/process-H-star.R
!data-raw/process-G.R
!data-raw/process-kitsumkalum.R
!data-raw/kitsumkalum/process-ERA-data.R

!data-raw/population-key.csv
!data-raw/freshwater-catch.xlsx

!data-raw/kitsumkalum/kitsumkalum-escapement.csv
!data-raw/kitsumkalum/brood-removals.csv
!data-raw/kitsumkalum/fishery-lookup-CWT-ERA.csv
!data-raw/kitsumkalum/chinook-cwt-ERA-outfiles_2025-03-06_KLM-KLY.xlsx
!data-raw/kitsumkalum/misc/kitsumkalum-age-observations.RDS

!data-raw/tyee-genetics/tyee-catch-by-stat-week-1984-2020.xlsx
!data-raw/tyee-genetics/check-sets-per-day.csv

#data-raw/tyee-sampling-biodata-ages/2014-2024-tyee-chinook-biodata-2025-04-10.xlsx


# Raw data
data-raw/
data-raw/tyee-genetics/
data-raw/tyee-sampling-biodata-ages/
*.csv
*.xlsx


