# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# README for raw data to include
!data-raw/README.md

# Raw data exclude
data-raw/
data-raw/tyee-genetics/
data-raw/tyee-sampling-biodata-ages/
*.csv
*.xlsx


# Raw data to include
!data-raw/do-run-reconstruction.R

!data-raw/process-H-star.R
!data-raw/process-G.R
!data-raw/process-kitsumkalum.R
!data-raw/process-P.R
!data-raw/process-omega-and-biodata.R
!data-raw/misc.R
!data-raw/process-Tau-terminal-freshwater-mortality.R

!data-raw/population-key.csv
!data-raw/freshwater-catch.xlsx
!data-raw/stat-week-calculator-2021.xlsx
!data-raw/variable-name-key.csv


# Kitsumkalum data include
!data-raw/kitsumkalum/process-ERA-data.R

!data-raw/kitsumkalum/kitsumkalum-escapement.csv
!data-raw/kitsumkalum/brood-removals.csv
!data-raw/kitsumkalum/kitsumkalum-escapement-by-age-1984-2020.xlsx
!data-raw/kitsumkalum/kitsumkalum-age-observations-by-sex-1984-2020.xlsx
!data-raw/kitsumkalum/kitsumkalum-age-observations-by-sex-2021-2024.xlsx

!data-raw/kitsumkalum/fishery-lookup-CWT-ERA-notes.csv
!data-raw/kitsumkalum/chinook-cwt-ERA-outfiles_2025-03-06_KLM-KLY.xlsx


#!data-raw/tyee-genetics/tyee-catch-by-stat-week-1984-2020.xlsx # obsolete
!data-raw/tyee-genetics/check-sets-per-day.csv

!data-raw/tyee-data-1984-2020/P-1984-2020.rda
!data-raw/tyee-data-1984-2020/sigma-P-1984-2020.rda
!data-raw/tyee-data-1984-2020/G-1984-2020.rda
#!data-raw/tyee-data-1984-2020/omega-1984-2020.rda
#!data-raw/tyee-data-1984-2020/omega-J-1984-2020.rda
!data-raw/tyee-data-1984-2020/tyee-biodata-age-sex-length-CU-1984-2020.rda
#!data-raw/tyee-data-1984-2020/age-obs-1984-2020.rda

#data-raw/tyee-sampling-biodata-ages/2014-2024-tyee-chinook-biodata-2025-04-10.xlsx

#!data-raw/stream-counts/North-and-Central-Coast-NuSEDS_20251030.xlsx
!data-raw/stream-counts/process-stream-counts-nuseds.R




# Data outputs
!data/ERA_data_processed.csv
!data/run_reconstruction_table.csv



